/* تنسيق عام للجسم */
body {
  font-family: 'Arial', sans-serif;
  background-color: #121212; /* خلفية داكنة */
  color: #e0e0e0; /* نص فاتح */
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* تأكد من أن الصفحة تملأ الشاشة */
  line-height: 1.6;
}

/* تنسيق العنوان الرئيسي */
header h1 {
  color: #ff9800; /* لون برتقالي دافئ */
  font-size: 3em; /* زيادة حجم العنوان الرئيسي */
  margin-bottom: 20px;
}

/* تنسيق الفقرة تحت العنوان */
header p {
  color: #fff;
  font-size: 1.5em; /* حجم النص متوسط */
  margin-bottom: 30px;
}

/* تنسيق قائمة الروابط */
ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 10px 0; /* تقليل المسافة بين العناصر */
}

ul li a {
  display: block;
  background-color: #4caf50; /* زر أخضر هادئ */
  color: white;
  padding: 15px;
  text-decoration: none;
  font-size: 1.8em; /* تكبير النص داخل الأزرار */
  border-radius: 12px;
  width: 250px;
  margin: 0 auto; /* محاذاة الأزرار إلى المركز */
  transition: background-color 0.3s ease, transform 0.3s ease; /* تأثير عند التمرير */
}

ul li a:hover {
  background-color: #388e3c; /* تغيير اللون إلى الأخضر الداكن عند التمرير */
  transform: scale(1.05); /* تكبير الحجم عند التمرير */
}

/* تنسيق الإجابات الصحيحة */
.correct-answer {
  color: #4caf50; /* أخضر */
  font-weight: bold; /* جعل النص عريضًا */
  font-size: 1.8em; /* تكبير حجم النص */
  margin-top: 10px; /* إضافة مسافة بين الإجابة والسؤال */
}

/* تنسيق الإجابات الخاطئة */
.incorrect-answer {
  color: #f44336; /* أحمر */
  font-weight: bold; /* جعل النص عريضًا */
  font-size: 1.8em; /* تكبير حجم النص */
  margin-top: 10px; /* إضافة مسافة بين الإجابة والسؤال */
}

/* تنسيق الفوتر */
footer {
  margin-top: 30px;
  color: #bbb;
  padding: 10px;
  font-size: 1.2em; /* تصغير حجم الخط */
}
