body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
}

header h1 {
  color: #ff4081;
}

.container {
  margin-top: 50px;
}

button {
  background-color: #ff4081;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

button:hover {
  background-color: #f50057;
}

footer {
  margin-top: 50px;
  color: #bbb;
}

#result {
  margin-top: 20px;
  font-size: 1.5em;
  color: #4caf50;
}

#backToHome button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 10px;
}
