/* styles.css */
body {
    font-family: Arial, sans-serif;
    direction: rtl;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    text-align: center;
}
a {
    color: #4CAF50;
    text-decoration: none;
    font-size: 1.5em;
}
a:hover {
    color: #80e27e;
}
.container {
    padding: 20px;
}
header {
    padding: 30px 0;
}
footer {
    background-color: #111;
    color: #ccc;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
